.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 92.5px;
    padding-bottom: 94px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include for-size(phone-only) {
      text-align: center;
    }
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

@include for-size(tablet-landscape) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;

    & .item {
      width: calc((100% - 1 * 30px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    & .item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .feature-list .item {
    margin-bottom: 30px;
  }
  .feature-list .item:nth-child(2n) {
    margin-right: 0px;
  }
}

@include for-size(desktop) {
  .feature-list .item {
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0px;

    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}

.feature-item {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;

  @include for-size(desktop) {
    width: 270px;
  }
}
