.customer {
  display: flex;
  flex-wrap: wrap;
}

.customer-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.customer .item {
  display: flex;
  height: 90px;
  margin-right: 30px;

  &:nth-child(6n) {
    margin-right: 0px;
  }
}

.item-list {
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    outline-color: $accent-color;
    fill: $accent-color;
  }
}

.item-list:hover .item-logo,
.item-list:focus .item-logo {
  fill: $accent-color;
}
