.footer {
  padding-top: 60px;
  padding-bottom: 61px;
  color: $title-text-color;
  background-color: #2f303a;
  font-style: normal;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .logo {
    padding-bottom: 0px;
    padding-top: 0px;

    color: $title-text-color;
    letter-spacing: 0.03em;
    font-size: 26px;
  }
}

.footer-box {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.footer b {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .footer-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .networks {
  justify-content: start;
}

.footer .icon-netw {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer .icon-instagram,
.footer .icon-twitter,
.footer .icon-facebook,
.footer .icon-linkedin {
  fill: $title-text-color;
}

.footer-box {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.sign-form {
  display: block;
  justify-content: space-around;
  width: 570px;
  margin-right: 0px;
}

.footer-form {
  display: inline-flex;

  input {
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: $title-text-color;

    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
}

.footer-sign-form {
  display: flex;
  justify-content: space-between;
}

.sign-form .button {
  height: 50px;

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../image/icon.svg);
    background-size: contain;
  }
}
