header {
  border: 1px solid #ececec;
}

.main-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  align-items: center;
}

.header-mobil {
  display: flex;
  position: relative;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button {
  display: flex;

  width: 40px;
  height: 40px;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  // margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button:hover .icon-menu,
.menu-button:hover .icon-cross,
.menu-button:focus .icon-menu,
.menu-button:focus .icon-cross {
  fill: $accent-color;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $title-text-color;
  padding: 60px;
  text-align: center;
  z-index: 1;

  &.is-open {
    display: block;
  }
}
