.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;

  text-align: center;
  letter-spacing: 0.06em;

  @include for-size(desktop) {
    height: 600px;
  }

  .container-hero {
    padding-top: 118px;
    @include for-size(desktop) {
      padding-top: 200px;
    }
  }
}

.main-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: $title-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
