.list-button {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: start;

  .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  .item:not(:last-child) {
    margin-right: 8px;
  }

  @include for-size(tablet-landscape) {
    justify-content: center;
    margin-bottom: 0px;
  }
}

.portfolio a {
  text-decoration: none;
}

.portfolio-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  color: $secondary-text-color;
  background-color: v#F5F4FA;
  text-decoration: none;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $title-text-color;
    background-color: $accent-color;
  }
}

.gallery h2 {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery p {
  margin-top: 0px;
  margin-bottom: 0px;

  color: $main-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

@include for-size(tablet-landscape) {
  .portfolio ul.gallery {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-item {
  margin-right: 30px;
  margin-bottom: 30px;

  @include for-size(tablet-landscape) {
    width: calc((100% - 1 * 30px) / 2);
  }

  @include for-size(desktop) {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-item:nth-child(2n) {
    margin-right: 0px;
  }

  .gallery .item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@include for-size(desktop) {
  .gallery-item:nth-child(3n) {
    margin-right: 0px;
  }

  .gallery .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.gallery-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-link {
  display: block;

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.box-card {
  position: relative;
  overflow: hidden;
}

.box-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .box-hover {
  opacity: 1;
  transform: translateY(0);
}

.gallery-link:focus .box-hover {
  opacity: 1;
  transform: translateY(0);
}

.gallery .text {
  color: $title-text-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.card-title {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.gallery-item img {
  display: block;
}
