.button {
  display: inline-flex;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;

  color: $title-text-color;
  background-color: $accent-color;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
}

.button-open:hover {
  color: $accent-color;
  background-color: $title-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $title-text-color;
  border-radius: 50%;
  cursor: pointer;
}

.btn-x {
  fill: #000000;
}

.btn-close:hover .btn-x,
.btn-close:focus .btn-x {
  fill: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit {
  display: flex;
  height: 40px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-decoration: none;
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
