.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;

  color: $secondary-text-color;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    font-size: 26px;
  }
}

.logo-web {
  color: $accent-color;
}
