.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 1s ease-out;

  &.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  @media screen and (max-width: 767px) {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 528px;
  min-height: 581px;
  background-color: $title-text-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
