body {
  background-color: #ffffff;
  color: $main-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h2,
h3 {
  color: $secondary-text-color;
  margin: 0px;
}

p {
  margin: 0px;
}

.list {
  margin: 0px;
  padding: 0px;
  padding-left: 0px;

  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// * {
//   outline: 2px solid green;
// }
